<style type="text/css">

#counter {
  width: 500px;
  height: 250px;
  background-color: beige;
  float: left; 
  }
#container {
  background-color: beige;
  padding: 10px;
  margin: 10px;
}
#searchbox {
  width: 500px;
  height: 250px;
  background-color: beige;
  float: right; 
  }

#error_message{
  width: 168px;
  height: 40px;
  margin-left: auto;
  margin-right:auto;
  color: red;
  background-color: beige;
  clear: both;
 }

#search_results {
 width: 1168px;
 height: 400px;
 margin-left: auto;
 margin-right: auto;
 background-color: beige;
 clear: both;

}

#dde_person {
  width: 500px;
  height: 358px;
  background-color: beige;
  float: left; 
  }

#dde2_person {
  width: 500px;
  height: 358px;
  background-color: beige;
  float: right; 
  }

#header {
 width: 1168px;
 margin-left: auto;
 margin-right: auto;
 background-color: beige;
 clear: both;

}

</style>
<div id ="container">
<div id="header">
<h1>DDE to DDE2 Migration Validator</h1>
</div>
<div id="counter">
<p>DDE2 people count: <%= @people_count %></p>
<p>Script iteration count:</p>
</div>

<div id="searchbox">
<%= form_tag("/people/index", method:"get") do %>
  <%= text_field_tag(:npid)%>
  <%= submit_tag("Find record")%>
<% end %>
</div>


<div id="search_results">
<div id="error_message">
<p><%= @error %></p>
</div>
<div id="dde_person">
<table>
<tr><th>DDE</th></tr>
<tr><td>National id:</td><td><%= @dde_person.national_patient_identifier.value rescue nil %></td></tr>
<tr><td>Site code:</td><td><%= @dde_person.national_patient_identifier.assigner_site.code rescue nil %></td></tr>
<tr><td>Given name:</td><td><%= @dde_person.given_name rescue nil %></td></tr>
<tr><td>Family name:</td><td><%=@dde_person.family_name rescue nil %></td></tr>
<tr><td>Gender:</td><td><%= @dde_person.gender rescue nil %></td></tr>
<tr><td>Birthdate:</td><td><%= @dde_person.birthdate rescue nil %></td></tr>
<tr><td>Birthdate Estimated:</td><td><%= @dde_person.birthdate_estimated rescue nil%></td></tr>
</table>
</div>
<div id="dde2_person">
<table>
<tr><th>DDE2</th></tr>
<tr><td>National id:</td><td><%= @dde2_person.national_id rescue nil %></td></tr>
<tr><td>Site code:</td><td><%= @dde2_person.assigned_site rescue nil %></td></tr>
<tr><td>Given name:</td><td><%= @dde2_person.names.given_name rescue nil %></td></tr>
<tr><td>Family name:</td><td><%= @dde2_person.names.family_name rescue nil %></td></tr>
<tr><td>Gender:</td><td><%= @dde2_person.gender rescue nil %></td></tr>
<tr><td>Birthdate:</td><td><%= @dde2_person.birthdate rescue nil %></td></tr>
<tr><td>Birthdate Estimated:</td><td><%= @dde2_person.birthdate_estimated rescue nil %></td></tr>
</table>
</div>
</div>
</div> 
