<style type="text/css">
#container {
  width: 98%;
  background-color: beige;
  padding: 10px;
  margin: 10px;
}

#postmigration {
  background-color: beige; 
  }


#header {
 margin-left: auto;
 margin-right: auto;
 background-color: beige;
 clear: both;
}

.odd {
 background-color: #FF9999;
}

.even {
 background-color: #FFCCCC;
}

table {
 width: 98%;
 margin-top: 0px;
 padding-top: 0px;
}

table, th, td
{
  border-collapse: collapse;
  border: 1px solid black;
  
}
td, .figures {
	text-align: left;
	padding-left: 10px;

}

#site_info {
  width: 500px;
  margin-top: 0px;
  padding-top: 0px;
}

#site_info .odd {
  background-color: #66FFFF;
}

#site_info .even {
  background-color: #66CCFF;
}

</style>
<div id ="container">
<div id="header">
<h1>DDE2 Post-migration Report</h1>
<br>
<br>
</div>

<div id="postmigration">
<table>
<tr><th>Indicator</th><% @sites.each do |site| %>
            <th><%= site %></th> 
            <% end %>
 <th>Q.Total</td>
 <th>C.Total</td>
</tr>

<% @migration_stats.each do |k,v| %>
     <tr class="<%= cycle('even', 'odd') %>">
      <td>
 <%= k.split("_").join(" ").humanize + ":" %>
      </td>
    <% v.each do |vv| %>
  <td class="figures">
   <%= vv.to_s %>
      </td>
   <%end%>

    <% case k 
			 when "total_number_of_npids_allocated_to_site"
            queried_total = @total_number_of_npids
            computed_total = v.sum
       when "total_number_of_npids_assigned_to_patients_on_site"
           queried_total =  @total_number_npids_assigned_to_patients
           computed_total = v.sum
       when "total_number_of_patients_created_on_site"
           queried_total = @total_number_of_patients_created
           computed_total = v.sum
       when "total_number_of_male_patients_on_site"
          queried_total = @total_number_of_male_patients
          computed_total = v.sum
       when "total_number_of_female_patients_on_site"
           queried_total = @total_number_of_female_patients
           computed_total = v.sum    
       when "total_number_of_patients_without_gender_on_site"
           queried_total = @total_number_of_patients_without_gender
           computed_total = v.sum
       else
         total = v.sum
       end
     %>

   <td><%= queried_total %></td>
   <td><%= computed_total %></td>
     </tr>
<%end%>

</table>
</div>
<br>
<br>
<br>
<div id="sites">
  <table id="site_info">
  <tr><th>#</th><th>Code</th><th>Name</th></tr>
    <% @sites_info.each do |site_info|%>
    <tr class="<%= cycle('even', 'odd') %>"><td><%= site_info.id %></td><td><%= site_info.code %></td><td><%= site_info.name %></td></tr>
  <% end %>
  </table>
<p><%= link_to "Pre-migration Report", "/people/premigration" %></p>
<p><%= link_to "Migration Validator", "/people/index" %></p>
</div>
</div> 
