<style type="text/css">
#container {
  background-color: beige;
  padding: 10px;
  margin: 10px;
}

#postmigration {
  width: 1158px;
  background-color: beige; 
  }

.figures {
  text-align:center; 
  vertical-align:middle;
  width: 50%;
}

#header {
 width: 1168px;
 margin-left: auto;
 margin-right: auto;
 background-color: beige;
 clear: both;
}

.odd {
 background-color: #FF9999;
}

.even {
 background-color: #FFCCCC;
}

table {
 width: 1158px;
 
}

table, th, td
{
  border-collapse: collapse;
  border: 1px solid black;
  
}
.figures {
	text-align: left;
	padding-left: 10px;

}

</style>
<div id ="container">
<div id="header">
<h1><%= @site_name %> Post-migration Report</h1>
</div>

<div id="postmigration">
<table>
<% @migration_stats.each do |k,v| %>
     <tr class="<%= cycle('even', 'odd') %>">
      <td>
 <%= k.split("_").join(" ").humanize + ":" %>
      </td>
  <td class="figures">
 <%= v.to_s %>
      </td>
     </tr>
<%end%>
</table>
<p><%= link_to "Pre-migration Report", "/people/premigration" %></p>
<p><%= link_to "Migration Validator", "/people/index" %></p>
</div>
</div> 
