<style type="text/css">
  body{
     padding: 10px;
    }
table {
     width: 100%;
}

td {
  width: 25%;
}

</style>
<div id ="container">
<div id="header">
<h1>Random Search</h1>
<h2><%= @site_name %></h2>
</div>


<div id="searchbox">
<%= form_tag("/people/random_search", method:"post") do %>
  <p>Select Number of Random National Identifiers:   <%= select_tag 'random_count', options_for_select([" ", 5,10,25,100]), {:onchange => 'this.form.submit()'} %></p>
<% end %>
</div>

<%
site_code_mismatch = false 
given_name_mismatch = false
family_name_mismatch = false 
gender_mismatch = false
birthdate_mismatch = false 
birthdate_estimated_mismatch = false
national_id_mismatch = false 
%>

<table>
<tr><th colspan="2" >DDE</th><th cospan="2">DDE2<th></tr>

<% @national_ids.each do |national_id| %>

<tr class=<%="mismatch" if national_id_mismatch == true %>><td>National id:</td><td><%= national_id["person_dde_value"] rescue nil %></td>
<td>National id:</td><td><%= national_id["person_dde2"].national_id rescue nil %></td></tr>

<tr class=<%="mismatch" if site_code_mismatch == true %>><td>Site code:</td><td><%= national_id["person_dde_site"] rescue nil %></td>
<td>Site code:</td><td><%= national_id["person_dde2"].assigned_site rescue nil %></td></tr>

<tr class=<%= "mismatch" if given_name_mismatch == true %>><td>Given name:</td><td><%= national_id["person_dde"].given_name rescue nil %></td><td>Given name:</td><td><%= national_id["person_dde2"].names.given_name rescue nil %></td></tr>

<tr class=<%= "mismatch" if family_name_mismatch == true %>><td>Family name:</td><td><%=national_id["person_dde"].family_name rescue nil %></td><td>Family name:</td><td><%= national_id["person_dde2"].names.family_name rescue nil %></td></tr>

<tr class=<%= "mismatch" if gender_mismatch == true %>><td>Gender:</td><td><%= national_id["person_dde"].gender rescue nil %></td>
<td>Gender:</td><td><%= national_id["person_dde2"].gender rescue nil %></td></tr>

<tr class=<%= "mismatch" if birthdate_mismatch == true %>><td>Birthdate:</td><td><%= national_id["person_dde"].birthdate rescue nil %></td>
<td>Birthdate:</td><td><%= national_id["person_dde2"].birthdate rescue nil %></td></tr>

<tr class=<%= "mismatch" if birthdate_estimated_mismatch == true %>><td>Birthdate estimated:</td><td><%= national_id["person_dde"].birthdate_estimated rescue nil%></td><td>Birthdate estimated:</td><td><%= national_id["person_dde2"].birthdate_estimated rescue nil %></td></tr>
<tr><td colspan="4"><hr></td></tr>
<% end %>
</table>
<p><%= link_to "Migration Validator", "/people/index" %></p>
</div> 
