<style type="text/css">
  body{
     padding: 10px;
    }

	#container {
  		background-color: beige;
		}

	table {
     	width: 100%;     
     	border-collapse: collapse;
	}

	td {
		width: 25%;
	}

	#searchbox {
		background-color: beige;
		padding-top: 10px;
	}

	.mismatch {
	 background-color: #FF6699;
	}

	.mis_match {
	 color: #FF6699;
	}

	h5 {
		color: green;
	 }

	td, p, h5, h1 {
		     padding-left : 5px;
		     padding-right: 5px;
	}

</style>
<div id ="container">
<div id="header">
<h1>Random Search</h1>
<hr size="2">
<h2><%= @site_name %></h2>

</div>
<% mismatch = false%>
<% @national_ids.each do |national_id| 
     national_id_mismatch = national_id["person_dde_value"].to_s != national_id["person_dde2"].national_id.to_s ? true : nil
     site_code_mismatch = national_id["person_dde_site"].to_s != national_id["person_dde2"].assigned_site.to_s ? true : nil
     given_name_mismatch = national_id["person_dde"].given_name.to_s != national_id["person_dde2"].names.given_name.to_s ? true : nil
     family_name_mismatch = national_id["person_dde"].family_name.to_s != national_id["person_dde2"].names.family_name.to_s ? true : nil
     gender_mismatch =  national_id["person_dde"].gender.to_s != national_id["person_dde2"].gender.to_s ? true : nil
     birthdate_mismatch = national_id["person_dde"].birthdate.to_s != national_id["person_dde2"].birthdate.to_s ? true : nil
     birthdate_estimated_mismatch = national_id["person_dde"].birthdate_estimated.to_s != national_id["person_dde2"].birthdate_estimated.to_s ? true : nil
    
     if national_id_mismatch || site_code_mismatch || given_name_mismatch || family_name_mismatch || gender_mismatch || birthdate_mismatch   || birthdate_estimated_mismatch
     		mismatch = true
        break
     end
end
%>



<div id="searchbox">
<%= form_tag("/people/random_search", method:"post") do %>
  <p>Select Number of Random National Identifiers:   <%= select_tag 'random_count', options_for_select([" ", 5,10,25,100,250,500]), {:onchange => 'this.form.submit()'} %></p>
  
<hr size="2">
<% end %>
<h5><%= "Returned #{@national_ids.length} records"  unless @national_ids.blank? %></h5>
<h5 class='mis_match' ><%= "There are some mismatches"  if mismatch == true %></h5>
</div>

<table>
<tr><th colspan="2" >DDE</th><th cospan="2">DDE2<th></tr>

<% @national_ids.each do |national_id| %>

 <%  
     national_id_mismatch = national_id["person_dde_value"].to_s != national_id["person_dde2"].national_id.to_s ? true : nil
     site_code_mismatch = national_id["person_dde_site"].to_s != national_id["person_dde2"].assigned_site.to_s ? true : nil
     given_name_mismatch = national_id["person_dde"].given_name.to_s != national_id["person_dde2"].names.given_name.to_s ? true : nil
     family_name_mismatch = national_id["person_dde"].family_name.to_s != national_id["person_dde2"].names.family_name.to_s ? true : nil
     gender_mismatch =  national_id["person_dde"].gender.to_s != national_id["person_dde2"].gender.to_s ? true : nil
     birthdate_mismatch = national_id["person_dde"].birthdate.to_s != national_id["person_dde2"].birthdate.to_s ? true : nil
     birthdate_estimated_mismatch = national_id["person_dde"].birthdate_estimated.to_s != national_id["person_dde2"].birthdate_estimated ? true : nil

     if national_id_mismatch || site_code_mismatch || given_name_mismatch || family_name_mismatch || gender_mismatch || birthdate_mismatch   || birthdate_estimated_mismatch
     		mismatch = true
     else
     		mismatch = false 
     end
%>
  

    <tr class=<%="mismatch" if national_id["person_dde_value"].to_s != national_id["person_dde2"].national_id.to_s %>>
		<td>National id:</td><td><%= national_id["person_dde_value"] rescue nil %></td>
		<td>National id:</td><td><%= national_id["person_dde2"].national_id rescue nil %></td></tr>

		<tr class=<%="mismatch" if national_id["person_dde_site"].to_s != national_id["person_dde2"].assigned_site.to_s %>>
		<td>Site code:</td><td><%= national_id["person_dde_site"] rescue nil %></td>
		<td>Site code:</td><td><%= national_id["person_dde2"].assigned_site rescue nil %></td></tr>

		<tr class=<%= "mismatch" if national_id["person_dde"].given_name.to_s != national_id["person_dde2"].names.given_name.to_s %>>
		<td>Given name:</td><td><%= national_id["person_dde"].given_name rescue nil %></td>
		<td>Given name:</td><td><%= national_id["person_dde2"].names.given_name rescue nil %></td></tr>

		<tr class=<%= "mismatch" if national_id["person_dde"].family_name.to_s != national_id["person_dde2"].names.family_name.to_s %>>
		<td>Family name:</td><td><%=national_id["person_dde"].family_name rescue nil %></td>
		<td>Family name:</td><td><%= national_id["person_dde2"].names.family_name rescue nil %></td></tr>

		<tr class=<%= "mismatch" if national_id["person_dde"].gender.to_s != national_id["person_dde2"].gender.to_s %>>
		<td>Gender:</td><td><%= national_id["person_dde"].gender rescue nil %></td>
		<td>Gender:</td><td><%= national_id["person_dde2"].gender rescue nil %></td></tr>

		<tr class=<%= "mismatch" if national_id["person_dde"].birthdate.to_s != national_id["person_dde2"].birthdate.to_s %>>
		<td>Birthdate:</td><td><%= national_id["person_dde"].birthdate rescue nil %></td>
		<td>Birthdate:</td><td><%= national_id["person_dde2"].birthdate rescue nil %></td></tr>
    
		<tr class=<%= "mismatch" if national_id["person_dde"].birthdate_estimated.to_s != national_id["person_dde2"].birthdate_estimated.to_s %>>
		<td>Birthdate estimated:</td><td><%= national_id["person_dde"].birthdate_estimated rescue nil%></td>
		<td>Birthdate estimated:</td><td><%= national_id["person_dde2"].birthdate_estimated rescue nil %></td></tr>

		<tr><td colspan="4"><hr></td></tr>
<% end %>
</table>
<p><%= link_to "Migration Validator", "/people/index" %></p>
</div> 
